{% extends 'base.html.twig' %}

{% block title %}Rates{% endblock %}

{% block body %}
    <h1>Rates</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rate.id }}</td>
            </tr>
            <tr>
                <th>Rate</th>
                <td>{{ rate.rate }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ rate.nickname }}</td>
            </tr>
            <tr>
                <th>IdMovie</th>
                <td>{{ rate.idMovie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_rates_index') }}">back to list</a>

    <a href="{{ path('app_rates_edit', {'id': rate.id}) }}">edit</a>

    {{ include('rates/_delete_form.html.twig') }}
{% endblock %}
